{% extends 'adminside/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Add Teacher{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Teacher</h4>
                    <form class="forms-sample" action="{% url 'Teacher:add_teacher' %}" method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">First Name: </label>
                            {% render_field form1.first_name class="form-control" placeholder="Fisrt Name" %}
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name: </label>
                            {% render_field form1.last_name class="form-control" placeholder="Last Name" %}
                        </div>
                        <div class="form-group">
                            <label for="username">Username: </label>
                            {% render_field form1.username class="form-control" placeholder="Username" %}
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            {% render_field form1.email class="form-control" placeholder="Email" %}
                        </div>
                        <div class="form-group">
                            <label for="password">Password: </label>
                            {% render_field form1.password class="form-control" placeholder="Password" type="password" %}
                        </div>
                        <div class="form-group">
                            <label for="dob">Date of Birth: </label>
                            {% render_field form2.dob class="form-control" id="datepicker" placeholder="Date of Birth" %}
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender: </label>
                            {% render_field form2.gender class="form-control" placeholder="Password" id="gender" %}
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone: </label>
                            {% render_field form2.phone class="form-control" placeholder="Enter Phone Number" %}
                        </div>
                        <div class="form-group">
                            <label for="address">Address: </label>
                            {% render_field form2.address class="form-control" placeholder="Enter Address" %}
                        </div>
                        <div class="form-group">
                            <label for="salary">Salary: </label>
                            {% render_field form2.salary class="form-control" placeholder="Enter Salary" %}
                        </div>
                        <div class="form-group">
                            <label for="image">Image: </label>
                            {% render_field form2.image class="form-control" %}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                yearRange: '-100y:c+nn',
            });
        });
         window.onload = myfunction();

        function myfunction() {
            $("input").removeAttr("required");
            $("select").removeAttr("required");
            $("textarea").removeAttr("required");
        }
    </script>
{% endblock %}