{% load static %}
{% load auth_extras %}
<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="profile-image">
                    {% if request.user|has_group:"Admin" %}
                        {#                        <img class="img-xs rounded-circle" src="{% static 'assets/images/faces/face8.jpg' %}"#}
                        {#                             alt="profile image">#}
                        {#                        <div class="dot-indicator bg-success"></div>#}
                        <img class="img-xs rounded-circle" src="{{ request.user.adminuser.image.url }}"
                             alt="profile image">
                        <div class="dot-indicator bg-success"></div>
                    {% endif %}
                    {% if request.user|has_group:"Teacher" %}
                        <img class="img-xs rounded-circle" src="{{ request.user.teacher.image.url }}"
                             alt="profile image">
                        <div class="dot-indicator bg-success"></div>
                    {% endif %}
                </div>
                <div class="text-wrapper">
                    <p class="profile-name">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schooldashboard:admin-dashboard' %}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        {% if request.user|has_group:"Admin" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Admin:admin_index' %}">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Manage Admin</span>
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Teacher:teacher_index' %}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Teacher</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'student:student_index' %}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Student</span>
            </a>
        </li>
    </ul>
</nav>
<!-- partial -->