{% extends 'adminside/base.html' %}
{% load static %}
{% load auth_extras %}
{% block title %}Student Page{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    {% if request.user|has_group:"Admin" %}
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <h1>
                        <a href="{% url 'student:add_student' %}" class="btn btn-primary float-right mt-2 mr-2">Add
                            Student</a>
                    </h1>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Student Lists</h4>
                    <table class="table" id="student">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Class</th>
                            <th>Roll No</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Blood Group</th>
                            {% if request.user|has_group:"Admin" or "Teacher"%}
                                <th>Action</th>
                            {% endif %}
{#                            {% for group in request.user.groups.all %}#}
{#                                {% if group.name == "Admin" or "Teacher" %}#}
{#                                    <th>Action</th>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><img src="{{ student.image.url }}" alt=""></td>
                                <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                                <td>{{ student.user.email }}</td>
                                <td>{{ student.classes }}</td>
                                <td>{{ student.roll }}</td>
                                <td>{{ student.phone }}</td>
                                <td>{{ student.address }}</td>
                                <td>{{ student.blood_group }}</td>
                                <td>
                                    {% if request.user|has_group:"Admin" or "Teacher" %}
                                        <a class="" href="{% url 'student:update_student' student.id %}"><i
                                                class="fa fa-edit"></i></a>
                                        <a class="" href="{% url 'student:delete_student' student.id %}"><i
                                                class="fa fa-trash-o" style="color: red;"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#student').DataTable();
            });
        </script>
    {% endblock %}
{% endblock %}